html,
body {
  padding: 0 !important;
  max-width: 425px;
  margin: 0 auto;
  scrollbar-gutter: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge*/
  user-select: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* make icon/text non-draggable */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge*/
  user-select: none;
}

/* google icons size */
.md-12 {
  font-size: 12px !important;
}
.md-16 {
  font-size: 16px !important;
}
.md-18 {
  font-size: 18px !important;
}
.md-20 {
  font-size: 20px !important;
}
.md-24 {
  font-size: 24px !important;
}
.md-28 {
  font-size: 28px !important;
}
.md-30 {
  font-size: 30px !important;
}
.md-36 {
  font-size: 36px !important;
}
.md-48 {
  font-size: 48px !important;
}
.md-72 {
  font-size: 72px !important;
}
